@for (exer of data(); track $index; let i = $index) {
    <div 
        [ngClass]="listIdsCompletes.includes(i)? 'background-green' : 'background-red'"
        class="m-3 border-round-md ">
        <section class="background flex flex-column">
            <div class="flex flex-row justify-content-between mx-3">
                <span
                    class="mt-3 w-full flex flex-row justify-content-between"
                    (click)="setIdsOpen(i)">
                    {{exer.name}}
                    <div
                        (click)="setIdsComplete(i)">
                        @if(listIdsCompletes.includes(i)){
                            <i class="pi pi-check-circle" style="font-size: 1rem"></i>
                        }@else{
                            <i class="pi pi-exclamation-circle" style="font-size: 1rem"></i>
                        }
                    </div>
                </span>
            </div>

            <p-divider/>
            @if(listIdsOpen.includes(i)){
            <div
                style="text-align: start;"
                class="flex flex-column justify-content-start">
                @for (ex of exer.listOfExercises; track $index) {
                    <p class="mx-2 mt-0 mb-1 justify-content-start">
                        {{ex.amount}} - {{ex.name}}
                    </p>
                }
            </div>
            }
        </section>
    </div>
}