<div class="flex flex-row table">
    @for (item of weeks(); track $index; let i = $index) {
    @if(listOfDayCellphone().includes(i)){
        <div
            (click)="emmitClick(i,$event)"
            class="w-full text-center border"
            [class.selected-column]="item.id === idDaySelected()"
        >
            <h1 
                style="color: black;">
                {{item.name}}
            </h1>
            <list-of-exercises
                (click)="cancelEmmitClick()"
                [data]="item.activity"
                (deleteListAction)="deleteList(i, $event)"/>
            @if(listSelected() && item.activity.length < 3){
                <section class="justify-content-around flex flex-column gap-2 m-6">
                    <span>Click</span>
                    <span>Aquí</span>
                </section>
            }
        </div>
    }
    }
</div>