<main class="main">
  <section>
    <h1>
      Excersices App
    </h1>
  </section>

  <div class="flex flex-row">
    <section
      style='background-color: rgb(108, 108, 108);'
      class="w-3">
      <drag-and-drop></drag-and-drop>
    </section>
    <section 
      style='background-color: #a4a4a4;'
      class="w-9 flex flex-row justify-content-around">
      @for (item of weeks; track $index; let i = $index) {
        <div
          (click)="selectDay(i)"
          class="w-full text-center"
          [class.selected-column]="item.id === idDaySelected"
        >
          <h1 
            style="color: black;">{{item.name}}</h1>
            <list-of-exercises
              [data]="item.activity"/>
        </div>
      }
    </section>
  </div>
  <div class="content">
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>

<router-outlet />
