<main class="main">
  <section>
    <h1>
      Excersices App
    </h1>
  </section>

  <div class="flex flex-column lg:flex-row">
    @if(isMobile){
      <section-three-buttons
        class="m-2"
        [listOfLabels]="['Lista de Ejercicios','','Dias de Entrenamiento']"
        (actionEmmit)="setPage($event)"
      />
    }
    
    @if((isMobile && pageNumber === 0) || !isMobile){
    <section
      class="w-full lg:w-3 background-azul-6">
      <drag-and-drop/>
    </section>
    }

    @if((isMobile && pageNumber === 1) || !isMobile){
      @if(!isMobile){
        <table-of-days-with-exercises
          class="w-full lg:w-9"
          [weeks]="weeks"
          [idDaySelected]="idDaySelected"

          (selectDay)="selectDay($event)"
        />
      }@else {
        <section 
          style="background-color: rgb(57, 63, 63);"
          class="w-full lg:w-9 flex flex-column justify-content-around ">
          <section-three-buttons
            class="m-2"
            [listOfDisableds]="[listOfDayCellphone[0] === 0, false, listOfDayCellphone[1] === 6]"
            [listOfLabels]="['<<<','','>>>']"
            (actionEmmit)="switchOneDay($event)"
          />

          <table-of-days-with-exercises
            [weeks]="weeks"
            [listOfDayCellphone]="listOfDayCellphone"
            [idDaySelected]="idDaySelected"

            (selectDay)="selectDay($event)"
          />
        </section>
      }
    }
  </div>
  <div class="content">
    <div class="divider" role="separator" aria-label="Divider"></div>
  </div>
</main>

<router-outlet />
