$azul-1: #006FFF !default;
$azul-2: #2370D5 !default;
$azul-3: #396AAA !default;
$azul-4: #415D82 !default;
$azul-5: #394555 !default;
$azul-6: #31353B !default;

$rojo-3: #613445 !default;

$gris-0: rgb(242, 242, 242) !default;
$gris-1: rgb(208, 208, 208) !default;