/* You can add global styles to this file, and also import other style files */
@use 'primeicons/primeicons.css';
@use 'primeflex/primeflex.scss';

*{
    font-family: "Ancizar Sans", sans-serif;
}

.animation-size-up{
	transition: transform 0.3s ease;
}

.animation-size-up:hover{
	cursor: pointer;
	transform: scale(1.1, 1.1) translateY(-3px);
}