<section class="flex flex-column m-0">
    <div
        
        class="list-heigth background-azul-6 p-2 border border-surface rounded-border w-60">
            <input-text
                class="flex flex-row w-full"
                id="filter-input"
                label="Filtrar ejercicios"
                [formControl]="filter"
            />

        <ul  
            class="flex flex-col flex-wrap gap-2 p-0 m-0 mt-2">
            @for (product of availableProducts; track $index; let i = $index) {
                @if(product.name.toLowerCase().includes(filter.value.toLowerCase())
                    || filter.value === ''
                    || product.zona.toLowerCase().includes(filter.value.toLowerCase())){
                <li
                    class="animation-size-up label-exercises background-azul-4 p-2 rounded-border shadow-sm list-horizontal border-round-md"
                    pDraggable
                    (onDragStart)="dragStart(product)"
                    (touchstart)="dragStart(product)"
                    (onDragEnd)="dragEnd()">
                    {{product.name}}
                </li>
                }
            }
        </ul>

    </div>
    <div 
        class="background-azul-5 border-surface rounded-border" 
        pDroppable (onDrop)="drop()"
        (touchend)="drop()">
        <p 
        class="text-center border-surface">
           >> Deja los ejercicios aquí <<
        </p>
    </div>
    <div>
        <ul 
            class="background-azul-6 list-none flex flex-column gap-2 p-0 m-0 flex-wrap"
            [style]="'color: black'"
            *ngIf="selectedProducts" >
            @for (product of selectedProducts; track $index; let i = $index) {
                <li class="p-2 pb-0 pt-1 rounded-border shadow-sm">
                    <div 
                        class="flex flex-row gap-2">
                        @if(formGroup.controls[`amountOfExercise${i}`] !== undefined){
                        <input
                            [formControl]="controlItem(i)"
                            type="number"
                            pInputText
                            style="width: 5rem; height: 43px;"
                            max="100"
                            (blur)="setAmountOfExercise(i)"/>
                            <p 
                                style="color: lightgray; font-size: 1.1rem; margin-top: 0.7rem;"
                                class="flex flex-row">
                                {{product.name}}
                            </p>
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
    <div>
        <section class="flex flex-row justify-content-between align-content-center gap-2 m-2">
            <input-text
                class="w-full"
                label="Elija el nombre del set"
                [formControl]="nameSetOfExercise"
            />
            <custom-button
                [disabled]="!nameSetOfExercise.value || selectedProducts.length === 0"
                [label]="'Guardar'"
                (clickAction)="saveGroupOfExercises()"
            />
        </section>
        @if(setOfExercises.length > 0){
        <section>
            <ul 
                class="background-azul-6 list-none flex p-2 gap-2 m-0 flex-wrap"
                *ngIf="selectedProducts">
                @for (exercise of setOfExercises; track $index; let i = $index) {
                    <li 
                        (click)="setList(exercise, i)"
                        class="shadow-sm">
                        <div
                            [ngClass]="idListPackExercises === i? 'set-selected': 'set-unselected'"
                            class="animation-size-up flex flex-row p-2 diamante border-round-md">
                            {{exercise.name}}
                        </div>
                    </li>
                }
            </ul>
        </section>
        
        @if(idListPackExercises !== -1){
            <section #sectionDeleteSet class="flex flex-row justify-content-center gap-2 m-3">
                <custom-button
                    label="Borrar set"
                    (clickAction)="deleteSet()"
                />
                <custom-button
                    label="Editar set"
                    (clickAction)="editSet()"
                />
                @if(idForEditSetofExercises !== -1){
                    <custom-button
                        label="Cancelar"
                        (clickAction)="cancelEditSet()"
                    />
                }
            </section>
        }
    }
    </div>
</section>