<section class="flex flex-column">
    <div
        style="background-color: rgb(79, 79, 79);" 
        class="p-2 border border-surface rounded-border w-60">
        <ul  
            class="list-none flex flex-col flex-wrap gap-2 p-0 m-0">
            <li
                *ngFor="let product of availableProducts"
                class="p-2 rounded-border shadow-sm list-horizontal"
                style="background-color: blanchedalmond; color: black;"
                pDraggable
                (onDragStart)="dragStart(product)"
                (onDragEnd)="dragEnd()">
                {{product.name}}
            </li>
        </ul>
    </div>
    <div 
        style="background-color: rgb(88, 65, 37);"
        class="border-surface rounded-border" 
        pDroppable (onDrop)="drop()">
        <p 
        class="text-center border-surface">
            Drop Zone
        </p>
    </div>
    <div>
        <ul 
            class="list-none flex flex-column gap-2 p-0 m-0 flex-wrap"
            [style]="'background-color: rgb(79, 79, 79); color: black'"
            *ngIf="selectedProducts" >
            @for (product of selectedProducts; track $index; let i = $index) {
                <li class="p-2 rounded-border shadow-sm">
                    <div 
                        class="flex flex-row gap-2">
                        @if(formGroup.controls[`amountOfExercise${i}`] !== undefined){
                        <input
                            [formControl]="controlItem(i)"
                            type="number"
                            style="width: 3rem;"
                            (blur)="setAmountOfExercise(i, $event)"/>
                        {{product.name}}
                        }
                    </div>
                </li>
            }
        </ul>
    </div>
    <div>
        <section class="flex flex-row justify-content-between align-content-center m-2">
            <input-text
                label="Elija el nombre del set"
                [formControl]="nameSetOfExercise"
            />
            <custom-button
                [label]="'Guardar'"
                (clickAction)="saveGroupOfExercises()"
            />
        </section>
        <section>
            <ul 
                class="list-none flex gap-2 p-0 m-0 flex-wrap"
                [style]="'background-color: rgb(79, 79, 79); color: black'"
                *ngIf="selectedProducts">
                <li *ngFor="let exercise of setOfExercises" class="p-2 rounded-border shadow-sm">
                    <div
                        style="background-color: beige;"
                        class="flex flex-row gap-2 p-2 diamante">
                        {{exercise.name}}
                        <p-checkbox 
                            (onChange)="setList(exercise)"
                            [binary]="true" />
                    </div>
                </li>
            </ul>
        </section>
    </div>
</section>