.list-horizontal{
    display: flex;
    background-color: white;
    color: black;
}

.set-selected{
    display: flex;
    background-color: #da7a7a !important;
    color: black;
}

.set-unselected{
    display: flex;
    background-color: #a78787;
    color: black;
}