@import '../../../../colors.scss';

.list-horizontal{
    display: flex;
    background-color: white;
    color: black;
}

.set-selected{
    display: flex;
    background-color: $azul-2;
    color: black;
}

.set-unselected{
    display: flex;
    background-color: $azul-5;
    color: $gris-1;
}

.background-azul-6{
    background-color: $azul-6 !important;
}

.background-azul-5{
    background-color: $azul-5 !important;
}

.background-azul-4{
    color: $gris-0;
    background-color: $azul-4 !important;
}

.list-heigth{
    height: 40vh;
    overflow-y: scroll;
}

.label-exercises{
    width: minmax(150px, 25%) !important;
    text-overflow: ellipsis;
}

.tag-special{
    background-color: $azul-2 !important;
}